.nav-bar {
  width: 100%;
  height: 80px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  position: fixed;
  top: 0;
  background: #fff;
  z-index: 5;

  .nav-box {
    max-width: 1440px;
    padding: 0 2rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .nav-logo {
      height: 34px;
      .logo {
        height: 100%;
        cursor: pointer;
      }
      .logo2 {
        display: none;
      }
    }

    .nav-center {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0.5rem 0.5rem;
      border: 1px solid #dddddd;
      border-radius: 30px;
      transition: all ease 200ms;
      cursor: pointer;
      color: #222222;
      box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;

      &:hover {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
      }

      & > * {
        padding: 0 1rem;
        border-right: 0.5px solid #999;
        font-size: 14px;
        font-weight: 600;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      & > :last-child {
        padding-right: 0;
        border-right: none;
        font-weight: 300;
      }
      .nav-guest {
        display: flex;
        gap: 1rem;
        align-items: center;

        .guest-icon {
          font-size: 16px;
          height: 32px;
          width: 32px;
          background: #ff385c;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
        }
      }
    }
    .nav-right {
      display: flex;
      align-items: center;
      font-size: 14px;
      font-weight: 600;

      .host {
        color: #222222;
        cursor: pointer;
        padding: 0.8rem 1rem;
        border-radius: 20px;
        transition: all ease 200ms;
        text-overflow: ellipsis;
        overflow: hidden;

        &:hover {
          background-color: #ebebeb;
        }
      }

      .world-icon {
        font-size: 16px;
        cursor: pointer;
        padding: 0.8rem 0.9rem;
        border-radius: 50%;
        transition: all ease 200ms;
        margin-right: 5px;
        display: flex;
        align-items: center;

        &:hover {
          background-color: #ebebeb;
        }
      }

      .menu-account {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        border: 1px solid #dddddd;
        border-radius: 30px;
        padding: 0.3rem 0.5rem 0.3rem 0.7rem;
        transition: all ease 200ms;
        cursor: pointer;

        &:hover {
          box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
        }

        .menu {
          font-size: 16px;
        }
        .account {
          font-size: 30px;
          height: fit-content;
          display: flex;
          align-items: center;
          color: #999;
        }
      }
    }
  }
  .nav-box2 {
    display: none;
  }
}
@media (max-width: 56.25em) {
  /* For Tab-port  56.25em= 900px/16px */
  .nav-bar .nav-box .nav-logo .logo {
    display: none;
  }
  .nav-bar .nav-box .nav-logo .logo2 {
    display: block;
    height: 100%;
    cursor: pointer;
  }
}
@media (max-width: 50em) {
  /* For Tab-port  50em= 800px/16px */
  .nav-bar {
    box-shadow: none;
  }
  .nav-bar .nav-box {
    display: none;
  }
  .nav-bar .nav-box2 {
    max-width: 100%;
    padding: 0 2rem;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .nav-boxin {
      height: 56px;
      box-sizing: border-box;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding: 0.5rem 1rem;
      border: 1px solid #dddddd;
      box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
      border-radius: 30px;

      .nav-search {
        font-size: 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 1rem;

        .nav-center {
          font-size: 14px;
          font-weight: 600;
          cursor: pointer;
          text-overflow: ellipsis;
          overflow: hidden;
          max-height: 32px;
          justify-self: flex-start;
          align-content: flex-start;

          .bottom {
            font-size: 12px;
            font-weight: 400;
            display: flex;
            gap: 0.5rem;
            align-items: center;
            color: #222222;
            width: 100%;
            max-height: 16px;
            text-overflow: ellipsis;
            overflow: hidden;

            .n-text {
              max-height: 16px;
              text-overflow: ellipsis;
              overflow: hidden;
            }

            .n-dot {
              transform: translateY(-3px);
            }
          }
        }
      }
      .nav-filter {
        font-size: 20px;
        height: 36px;
        min-width: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 1px solid #dddddd;
        cursor: pointer;
      }
    }
  }
}
