.collection {
  max-width: 1440px;
  padding: 0 1rem;
  margin: 0 auto;
  padding-top: 3rem;
  padding-bottom: 60px;

  .collection-grid {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    // grid-template-rows: auto 2fr auto;
  }
}
@media (max-width: 75em) {
  /* For Tab-land  75em= 1200px/16px */
  .collection .collection-grid {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
}
@media (max-width: 56.25em) {
  /* For Tab-port  56.25em= 900px/16px */
  .collection .collection-grid {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
}
@media (max-width: 37.5em) {
  /* For Tab-port  37.5em= 600px/16px */
  .collection .collection-grid {
    grid-template-columns: repeat(1, minmax(200px, 1fr));
  }
}
